*{
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

body {
    text-align: center;
    background-image:
    radial-gradient(50% 30% ellipse at center bottom, #3d32c0ca 0%, rgba(53, 103, 195, 0.555) 100%),
    radial-gradient(60% 50% ellipse at center top, #646262 0%, #000000 100%);
    background-attachment: fixed;
}

h1 {
    color: antiquewhite;
    font-size: 350%;
}

#safe{
    color: lime;
}

#unsafe{
    color: crimson;
}

h3{
    text-decoration: none;
    color: whitesmoke;
}